scripts/node-red/batch-inference-flow.json
[
    {
        "id": "batch_inference",
        "type": "tab",
        "label": "Batch Inference Flow",
        "disabled": false,
        "info": "Process multiple images from a directory"
    },
    {
        "id": "start_batch",
        "type": "inject",
        "z": "batch_inference",
        "name": "Start Batch",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 100,
        "wires": [["list_files"]]
    },
    {
        "id": "list_files",
        "type": "function",
        "z": "batch_inference",
        "name": "List Images",
        "func": "const fs = require('fs');\nconst path = require('path');\n\nconst imageDir = '/path/to/images';\n\nconst files = fs.readdirSync(imageDir).filter(f => /\\.(jpg|jpeg)$/i.test(f)).map(f => path.join(imageDir, f));\n\nmsg.payload = { files: files, total: files.length };\n\nfiles.forEach((file, index) => {\n    node.send({ payload: file, index: index, total: files.length });\n});\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 100,
        "wires": [["read_file"]]
    },
    {
        "id": "read_file",
        "type": "file in",
        "z": "batch_inference",
        "name": "Read File",
        "filename": "payload",
        "format": "",
        "chunk": false,
        "sendError": true,
        "encoding": "none",
        "x": 470,
        "y": 100,
        "wires": [["set_url"]]
    },
    {
        "id": "set_url",
        "type": "function",
        "z": "batch_inference",
        "name": "Set URL with Index",
        "func": "const baseUrl = 'http://192.168.1.100/local/detectx/inference-jpeg';\nmsg.url = msg.index >= 0 ? `${baseUrl}?index=${msg.index}` : baseUrl;\nmsg.headers = { 'Content-Type': 'image/jpeg' };\nmsg.filename = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 660,
        "y": 100,
        "wires": [["infer"]]
    },
    {
        "id": "infer",
        "type": "http request",
        "z": "batch_inference",
        "name": "Inference",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "digest",
        "senderr": false,
        "x": 860,
        "y": 100,
        "wires": [["collect_results"]]
    },
    {
        "id": "collect_results",
        "type": "function",
        "z": "batch_inference",
        "name": "Collect Results",
        "func": "const results = context.get('batchResults') || [];\n\nresults.push({\n    index: msg.index,\n    filename: msg.filename,\n    detections: msg.payload.detections || [],\n    count: (msg.payload.detections || []).length\n});\n\ncontext.set('batchResults', results);\n\nif (results.length === msg.total) {\n    const totalDetections = results.reduce((sum, r) => sum + r.count, 0);\n    const classCounts = {};\n    results.forEach(r => {\n        r.detections.forEach(det => {\n            classCounts[det.label] = (classCounts[det.label] || 0) + 1;\n        });\n    });\n    msg.payload = {\n        summary: {\n            total_images: results.length,\n            total_detections: totalDetections,\n            class_counts: classCounts\n        },\n        results: results\n    };\n    context.set('batchResults', null);\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 1050,
        "y": 100,
        "wires": [["debug_summary"]]
    },
    {
        "id": "debug_summary",
        "type": "debug",
        "z": "batch_inference",
        "name": "Summary",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1240,
        "y": 100,
        "wires": []
    }
]
